<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">


</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
	<h3>Main Dashboard</h3>
	<hr>
	<h4>Projetos Atuais</h4>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Nome do projeto: </th>
						<th>Estagio do projeto: </th>
						<th>Descrição do projeto: </th>
					</tr>
				</thead>
			<tbody>
					<tr th:each="aProject : ${projetoslist}">
						<td th:text="${aProject.name}"></td>
						<td th:text="${aProject.estagio}"></td>
						<td th:text="${aProject.descricao}"></td>
					</tr>
			</tbody>
			</table>
		</div>

		
		<div class = "col-md-4">
			<canvas id="myPieChart" height="50" width="50"></canvas>
		</div>
	</div>	
</div>	
	<p></p>
	<br>
	
<div class="container">
	<h4>Funcionarios Atuais</h4>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Primeiro nome: </th>
						<th>Sobrenome: </th>
						<th>Email: </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aFuncionarios : ${funcionarioslist}">
						<td th:text="${aFuncionarios.primeiroNome}"></td>
						<td th:text="${aFuncionarios.sobrenome}"></td>
						<td th:text="${aFuncionarios.email}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

	
	<script type="text/javascript" th:src="@{js/myChart.js}"></script>
</body>
</html>