<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">


</head>
<body>
<nav th:replace="layouts :: navbar"></nav>

	
<div class="container">
	<hr>
	<h4>Projetos Atuais</h4>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Estagio do projeto</th>
						<th>Contagem </th>
					</tr>
				</thead>
			<tbody>
					<tr th:each="aProjetoStatus : ${projetoslist}">
						<td th:text="${aProjetoStatus.name}"></td><!-- estagio Projeto vem do que foi declarado em ProjetoStatus -->
						<td th:text="${aProjetoStatus.estagio}"></td><!-- contagem vem do que foi declarado em ProjetoStatus -->
					</tr>
			</tbody>
			</table>
		</div>

		
		<div class = "col-md-4">
			<canvas id="myPieChart" height="50" width="50"></canvas>
			
			<script>
				var chartData = "[[${statusGrafico}]]"

			</script>
		</div>
	</div>	
</div>	
	<p></p>
	<br>
	
<div class="container">
	<h4>Funcionarios Atuais</h4>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Primeiro nome: </th>
						<th>Sobrenome: </th>
						<th>Contagem Projetos: </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aFuncionariosProjetoCount : ${funcionariosListProjetoCount}">
						<td th:text="${aFuncionariosProjetoCount.primeiroNome}"></td>
						<td th:text="${aFuncionariosProjetoCount.sobrenome}"></td>
						<td th:text="${aFuncionariosProjetoCount.contagemProjetos}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

	
	<script type="text/javascript" th:src="@{js/myChart.js}"></script>
</body>
</html>