body{
	font-family:'Montserrat', sans-serif;
}

header{
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto; /* MARGEM Da direita e da esquerda se calcule par acima */

}

nav{
	position: absolute;
	top:110px;
	right:0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px; 
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}

nav a:hover {
color: #C79C19;
text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top; /*Orientar o elemento pela linha de cima*/
	/*background: #CCCCCC;*/
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box; 
	border: 2px solid #000000;/*tamanho da linha o tipo dela cor da borda*/
	border-radius: 10px;

}
.produtos li:hover {
	border-color: #C79C19;
}


.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao{
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top:10px;
}

footer{
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;	
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0;
}

main{

}

form{
	margin: 40px 0;
}

form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding:  10px 25px;
	width: 50%;
}

.checkbox{
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none ;
	border-radius: 5px;
	transition: 1s all;/*all todos os elementos do botão*/
	cursor: pointer;
}

.enviar:hover{
	background: darkorange;
	transform: scale(1.2);/*multiplicar ele por 1.2*/
	/*transform: rotate(70deg);roda o item em 70 graus*/ 
}

table{
	margin: 20px 0 40px;
}

thead{
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th{
	border: 1px solid #000000;
	padding: 8px 15px;
}

.banner{
	width:100%;
}

.titulo-principal{
	text-align: center;
	font-size: 2em; /*2em independente da fonte base sera duas vezes o tamanho base */
	margin: 0 0 1em;/* espaçamento proporcional ao tamanho da fonte */
	clear: left;               /* parte 2: limpa o float */;
}

/*
.titulo-principal:first-letter{ deixar a primeira letra do titulo principal em negrito 
	font-weight: bold;
}

p:first-line {configurar a primeira linha para itálico (comum no mercado editorial)
    font-style: italic;
}

.titulo-principal:before {
	content: "[ ";
}

.titulo-principal:after {
	content: " ]";
}
*/
.principal{
	padding: 3em 0; /*3m para cima e para baixo*/
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;/*margem proporcional ao tamanho da fonte*/
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left;/*Quando usamos o float todos os elementos abaixo começam a ser afetados por ele*/
	margin:0 20px 20px 0;
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE,#888888);
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
	}

.beneficios{
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5;/*Altura da linha geralmente é proporcional ao tamanho da fonte, tamanho da fonte + 50 %*/
}

.itens:first-child{ /* O primeiro item passa a estar em negrito */
	font-weight: bold; 
}

/*
.itens:nth-child(4){
	font-weight: bold; 
}
*/

/*
.itens:nth-child(2n){
	font-weight: bold; 
}
*/

.itens:before {
	content: "🟊";
}

.imagem-beneficios{
	width: 60%;
	opacity:1;/*ajustar a opacidade do elemento 0.3 30%, 0.7 = 70%*/
	transition:400ms;
	box-shadow: 10px 10px 10px 0 #000000;/*X:Eixo X, Y:Eixo Y*/
	/*box-shadow: inset 0 0 5px black;Sombra interna de um elemento*/
}

.imagem-beneficios: hover{
	opacity: 0.3;
}

.video{
	width: 560px;
	margin: 2em auto;
}

/*
Seletores Avançados
Seletor >, para acessar os filhos de determinado elemento. Por exemplo, para acessar todos os p dentro de main:
main > p {
	background: red;
}
*/

/* Seletor +, para acessar o primeiro irmão de determinado elemento. Por exemplo, para acessar o primeiro p após um img:

img + p {
	background: red;
}


/* Seletor ~, para acessar todos os irmãos de determinado elemento. Por exemplo, para acessar todos os p após um img: 
img ~ p {
	background: red;
}

Seletor not, para acessar os elementos, exceto algum. Por exemplo, para acessar todos os p dentro de main, 
exceto o p que tem id missao:

.principal p:not(#missao){
	background: orange;
}

Uso do calc
.utensilios {
    width: calc(40% - 26px);
    float: left;
    Margin: 0 20px 20px 

}
*/

/*criamos um estilo visual que compreenda telas de até 480px.*/
@media screen and (max-width: 480px){
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
		width: auto;
	}
	h1{
		text-align: center;
	}

	nav{
		position: static;
	}

	.lista-beneficios, .imagem-beneficios{
		width: 100%;
	}
}