<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class=container>
<h4>Funcionarios Atuais</h4>
	<hr>
	<!--  Adicionar novo botão projeto -->
	<a th:href="@{/funcionarios/novo}" 
	class="btn btn-primary btn-sm mb-3">Add Funcionario</a>
	<br></br>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
	<tr>
		<th>Primeiro nome: </th>
		<th>Sobrenome: </th>
		<th>Email: </th>
	</tr>
		</thead>
	<tbody>
		<tr th:each="aFuncionarios : ${funcionarioslist}">
			<td th:text=${aFuncionarios.primeiroNome}></td>
			<td th:text=${aFuncionarios.sobrenome}></td>
			<td th:text=${aFuncionarios.email}></td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>