<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
</head>    
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class=container>
<h4>Funcionarios Atuais</h4>
	<hr>
	<!--  Adicionar novo botão projeto -->
	<a th:href="@{/comics/cadastrarcomics}" 
	class="btn btn-primary btn-sm mb-3">Add Comic</a>
	<br></br>
	<table class="table table-bordered table-striped">
		<thead class="thead-bg-info">
	<tr>
		<td>Nome do HQ </td>
		<td>Nota </td>
		<td>Genero </td>
		<td>Autor</td>
		<td>Desenhista</td>
		<td>Editora</td>
		<td>Lancamento</td>
		<td>Data Leitura</td>
		<td>descricaoo</td>
	</tr>
		</thead>
	<tbody>
		<tr th:each="aComics : ${comicslist}">
			<td th:text=${aComics.nomeComics}></td>
			<td th:text=${aComics.nota}></td>
			<td th:text=${aComics.genero}></td>
			<td th:text=${aComics.autor}></td>
			<td th:text=${aComics.desenhista}></td>
			<td th:text=${aComics.lancamento}></td>
			<td th:text=${aComics.editora}></td>
			<td th:text=${aComics.dataLeitura}></td>
			<td th:text=${aComics.descricao}></td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>