<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
</head>    
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class=container>
<h4>Funcionarios Atuais</h4>
	<hr>
	<!--  Adicionar novo botão projeto -->
	<a th:href="@{/filmes/cadastrarfilmes}" 
	class="btn btn-primary btn-sm mb-3">Add Filme</a>
	<br></br>
	<table class="table table-bordered table-striped">
		<thead class="thead-bg-info">
	<tr>
		<td>Nome do filme </td>
		<td>Nota </td>
		<td>Genero </td>
		<td>Diretor</td>
		<td>Lançamento</td>
		<td>Data que Assistiu</td>
		<td>Descrição</td>
	</tr>
		</thead>
	<tbody>
		<tr th:each="aFilmes : ${filmeslist}">
			<td th:text=${aFilmes.nomeFilme}></td>
			<td th:text=${aFilmes.notaFilme}></td>
			<td th:text=${aFilmes.genero}></td>
			<td th:text=${aFilmes.diretor}></td>
			<td th:text=${aFilmes.dataLancamento}></td>
			<td th:text=${aFilmes.dataAssistiu}></td>
			<td th:text=${aFilmes.descricao}></td>
	
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>