<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">

<title>Insert title here</title>
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/formatting.css}">
</head>
<body>
<nav th:replace="layout :: navbar"></nav>

<form action= "/cadastros/save" th:object="${dicionario}" method="POST">
  <h1>Cadastro Portugues</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Nome: </label>
    <input type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Insira o nome" th:field="${dicionario.palavra}">
    <small id="nomes" class="form-text text-muted">Escreva o nome da palavra</small>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Significado:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="${dicionario.descricao}"></textarea>
    <small id="emailHelp" class="form-text text-muted">Escreva o significado da palavra</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Sinonimos:</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" th:field="${dicionario.sinonimos}">
    <small id="emailHelp" class="form-text text-muted">Escreva os sinonimos da palavra</small> 
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<br><br>

<form>
  <h1>Cadastro Ingles</h1>

  <div class="form-group">
    <label for="exampleInputEmail1">Name: </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Meaning:</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Synonyms:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>