<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Formulário enviado com sucesso!!</h1>
	<p><span th:text="${usuario.nomeCompleto}"></span></p>
	<p><span th:text="${usuario.idade}"></span></p>
	<p><span th:text="${usuario.condicaoEmpregado}"></span></p>	
	<p><span th:text="${usuario.genero}"></span></p>
	
</body>
</html>