<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>	
	<div class ="container">
			<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>	
		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a th:classappend="${statuspedido} == null ? 'active'" href="/home">Todos</a>
				<a th:classappend="${statuspedido} == 'aguardando' ? 'active'" class ="nav-item nav-link" href="/home/aguardando">Aguardando</a>
				<a th:classappend="${statuspedido} == 'aprovado' ? 'active'" class ="nav-item nav-link" href="/home/aprovado">Aprovado</a>
				<a th:classappend="${statuspedido} == 'entregue' ? 'active'" class ="nav-item nav-link" href="/home/entregue">Entregue</a>
			</div>
			   <a href="/pedido/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>		
		</nav>
		<div class = "card mb-3" th:each="pedido : ${pedidos}">
			<th:block th:switch ="${pedido.statuspedido.name()}">
				<div th:case ="'AGUARDANDO'" class="card-header alert-warning" >Nome do produto</div>
				<div th:case ="'APROVADO'" 	class="card-header alert-sucess" th:text="${pedido.nomeProduto}">Nome do produto</div>
				<div th:case ="'ENTREGUE'" 	class="card-header alert-dark" th:text="${pedido.nomeProduto}">Nome do produto</div>
			</th:block>
				<div class = "card-body">
					<div class = "row">
						<div class = "col-12 col-sm-8 mb-3"><!-- ml margem left mp margen top -->	
							<div class = "row">
								<div class="col-md-5">Valor: <span th:if="${pedido.valorNegociado} != null" th:text="${'R$' + #numbers.formatDecimal(pedido.valorNegociado,3,'PONT',2,'COMMA')}">200,99</span></div>
								<div class="col-md-6">Data da entrega: <span th:text="${#temporals.format(pedido.dataDaEntrega, 'dd/MM/yyyy')}">29/09/2021</span></div>
							</div>
							<div>Produto</div>
							<div><input class="form-control" th:value="${pedido.urlProduto}"/></div>
							<div>Descrição</div>
								<div>
									<textarea class="form-control" th:text="${pedido.descricao}">descrição do pedido</textarea>
								</div>
						</div>
						<div class = "col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" th:src= "${pedido.UrlIMagem}" src=""/>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</body>
</html>