<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<style >
	.logo-container{
		background-color:#47bcff;
		color:#FFF;
	}
	.logo{
	font-family: 'Handlee', cursive;
	font-size: 2.5rem;
	}
	

</style>
</head>
	<div th:fragment="logo" class="">
		<div class="logo-container p-3 d-flex justify content-between">
		<span class = "logo ml-2">mudi</span>
		<span class="mt-3 mr-2 ">
			<a class = "text-light" sec:authorize="!isAuthenticated()" href="/login">login</a>
			<a class = "text-light" sec:authorize="isAuthenticated()" href="/logout">logout</a>
		</span>	
	</div>
		<div sec:authorize="isAuthenticated()">
			<div class = "col">
				 <nav class = "nav">
				 <a class="nav-link" th:href="@{/home}">Home</a>
				 <a class="nav-link" th:href="@{/usuario/pedido}">Meus Pedidos</a>
				 <a class="nav-link" th:href="@{/oferta}">Faça sua Oferta</a>
				</nav>
			</div>
		</div>
	</div>

	

	<div th:fragment="titulo(valor)" class="container-fluid bg-dark text-light p-5 mb-2 mt-2">
		<h1 class="display-4" th:text="${valor}"></h1>
	</div>

