<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">


</head>
<body>
<nav th:replace="layouts :: navbar"></nav>	
	<div class="container">
		<form action="/projetos/save" th:object="${projeto}" method="POST">
		
		<input type="text" placeholder="Project Name" th:field="${projeto.name}" >
		
		<select th:field="${projeto.estagio}">
			<option th:value="NOTSTARTED"> Not Started</option>
			<option th:value="INPROGRESS"> In Progress</option>
			<option th:value="COMPLETED"> Completed</option>
		</select>
		
		<textarea type="text" placeholder="Enter Project Description" th:field="${projeto.descricao}"></textarea>
		
		<select th:field="*{funcionarios}" multiple="multiple">
			<option th:each = "funcionario : ${todosFuncionarios}"
			th:value = "${funcionario.funcionarioId}"
			th:text = "${funcionario.primeiroNome}">
			</option>	
		</select>
		<button type="submit">Create Project</button>
		
		</form>
	</div>
</body>
</html>