<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">

<title>Insert title here</title>
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/formatting.css}">
</head>
<nav th:replace="layout :: navbar"></nav>
<body>
	
	<div th:each="aDicionario : ${Dicionario}">
		<h1 th:text="${aDicionario.palavra}"></h1>
		<p th:text="${aDicionario.descricao"></p>
		<p th:text="${aDicionario.sinonimo}"></p>
	</div>

<br><br>
	<div th:each="iDicionario : ${DicionarioI}">
		<h1 th:text="${iDicionario.name"></h1>
		<p th:text="${iDicionario.meaning}"></p>
		<p th:text="${iDicionario.synonyms}"></p>		
	</div>
</body>
</html>