<!DOCTYPE html>
<head th:fragment="head">
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<style >
	.logo-container{
		background-color:#47bcff;
		color:#FFF;
	}
	.logo{
	font-family: 'Handlee', cursive;
	font-size: 2.5rem;
	}
</style>
</head>
<body>
	<div th:fragment="logo" class="logo-container mb-3 p-3 d-flex justify-content-between mb-3">
		<span class="logo">mudi</span>
		<span class="mt-3">login</span>
	</div>

	<div th:fragment="titulo(valor)" class="container-fluid bg-dark text-light p-5">
		<h1 class="display-4" th:text="${valor}"></h1>
	</div>

</body>
