<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">


</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div>
	<h4>Projetos Atuais</h4>
	<table>
	<tr>
		<th>Nome do projeto: </th>
		<th>Estagio do projeto: </th>
		<th>Descrição do projeto: </th>
	</tr>
	<tbody>
		<tr th:each="aProject : ${projetoslist}">
			<td th:text="${aProject.name}"></td>
			<td th:text="${aProject.estagio}"></td>
			<td th:text=${aProject.descricao}></td:>
		</tr>
	</tbody>
	</table>
	<p></p>
	<br>
	<h4>Funcionarios Atuais</h4>
	<table>
	<tr>
		<td>Primeiro nome: </td>
		<td>Sobrenome: </td>
		<td>Email: </td>
	</tr>
	<tbody>
		<tr th:each="aFuncionarios : ${funcionarioslist}">
			<td th:text=${aFuncionarios.primeiroNome}></td>
			<td th:text=${aFuncionarios.sobrenome}></td>
			<td th:text=${aFuncionarios.email}></td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>