<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class=container>
	<h3>Projetos Atuais</h3>
	<hr>
	<!--  Adicionar novo botão projeto -->
	<a th:href="@{/projetos/novo}" 
	class="btn btn-primary btn-sm mb-3">Add Projeto</a>
	<br></br>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
	<tr>
		<th>Nome do projeto: </th>
		<th>Estagio do projeto: </th>
		<th>Descrição do projeto: </th>
		<th>Ação</th>
	</tr>
	</thead>
	<tbody>
		<tr th:each="aProject : ${projetoslist}">
			<td th:text="${aProject.name}"></td>
			<td th:text="${aProject.estagio}"></td>
			<td th:text=${aProject.descricao}></td>
			<td>
				<div class="btn-group col-md-6">	
					<a th:href="@{/projetos/atualizar(id=${aProject.projetoId})}"				
					   class="btn btn-info btn-sm">
					   Atualizar
					 </a>
					 <a th:href="@{/projetos/deletar(id=${aProject.projetoId})}"
					 	class="btn btn-danger btn-sm"
						onClick="if(!(confirm('Você tem certeza que quer deleter esse projeto?'))) return false">
					 	Deletar
					 </a>
				 </div>
			</td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>