<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">


</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
	<br>
	<div class="container">
		<form th:action="@{/projetos/save}" th:object="${projeto}" method="POST">
		<!-- Isso será usado para vincular o usuario que foi clicado ( Usado para atualizacao)-->
		<input type="hidden" th:field="${projeto.projetoId}"/>
		<div class="form-group row">
			<input type="text" placeholder="Project Name" th:field="${projeto.name}" >
			<span style="color:red"
			  th:if="${#fields.hasErrors('name')}"
			  th:errors="${projeto.name}">			  
			</span>
		</div>		
		<div class="form-group row">	
			<select th:field="${projeto.estagio}">
				<option th:value="NOTSTARTED"> Not Started</option>
				<option th:value="INPROGRESS"> In Progress</option>
				<option th:value="COMPLETED"> Completed</option>
			</select>
			<span style= "color:red"
				  th:if="${#fields.hasErrors('estagio')}"
				  th:errors="${projeto.estagio}">
			</span>
		</div>
		
		<div class="form-group row">	
			<textarea type="text" placeholder="Enter Project Description" th:field="${projeto.descricao}"></textarea>
		</div>	
		
		<div class="form-group row">			
			<select th:field="*{funcionarios}" multiple="multiple">
				<option th:each = "funcionario : ${todosFuncionarios}"
				th:value = "${funcionario.funcionarioId}"
				th:text = "${funcionario.primeiroNome}">
				</option>	
			</select>
		</div>	
				
		Data de Inicio do projeto:
		<div class="form-group row">
			<input id="dp2" type="text" class="mb-4 col-2 col-xs-4" value="Data Inicial" th:field="${projeto.dataInicial}">
			<span style= "color:red"
				  th:if="${#fields.hasErrors('dataInicial')}"
				  th:errors="${projeto.dataInicial}">
			</span>
		</div>

		Data Final do projeto:
		
		<div class="form-group row">
			<input id="dp3" type="text" class="mb-4 col-2 col-xs-4" value="Data Final" th:field="${projeto.dataFinal}">
			<span style= "color:red"
				  th:if="${#fields.hasErrors('dataFinal')}"
				  th:errors="${projeto.dataFinal}">
		    </span>
		</div>

		<script type="text/javascript">
			$('#dp2').datepicker();
			$('#dp3').datepicker();
		</script>
		<button class="btn btn-info col-2" type="submit">Create Project</button>
		
		</form>
	</div>
</body>
</html>