<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
<nav th:fragment = "navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dicionario</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/home}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/dicionarioportugues}">Dicionario Português</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/dicionarioingles}">Dicionario Inglês</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/cadastro}">Cadastro</a>
      </li>   
    </ul>
  </div>
</nav>
</body>
</html>